$black: #0c0c0c;
$light-black: #191a1b;

$gray: #323232;
$gray2: #4c4c4c;
$light-gray: #7e7e7e; 

$white: #f0f0f0;

$blue: #1F51FF;

$facebook-blue: #3d5a98;
$vue-green: #47ba87;
$react-blue: #58c4dc;
$typescript-blue: #377cc8;
$scss-pink: #c0658f;
$csharp-pink: #9b4f97;
$cplusplus-blue: #659bd3;
$nodejs-green: #58a149;
$firebase-yellow: #ffce36;
$sql-gray: #bac9d1;
$git-orange: #f05030;
$docker-blue: #0091e2;
$neovim-green: #87bf6e;

$fretwizard-yellow: #faae25;