:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Consolas, "Courier New", monospace;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: $black;
  color: $white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $white;
}

#app {
  margin: 0 auto;
}

//GLOBAL classes
.animate-on-hover {
  transition: transform 0.3s ease;
}

.animate-on-hover:hover {
  color: $blue;
  transform: scale(1.1);
}

.text-light-gray {
  color: $light-gray;
}

// Transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}